<div class="container">

    <h1>Create New Post</h1>

  

    <a href="#" routerLink="/post/index" class="btn btn-primary">Back</a>

        

    <form [formGroup]="formGroup" (ngSubmit)="submit()">

  

        <div class="form-group">

            <label for="id">ID:</label>

            <input 

                formControlName="id"

                id="id" 

                type="text" 

                class="form-control">

        </div>

  

        <div class="form-group">

            <label for="apptName">Appointment Name</label>

            <input 
                type="text"
                formControlName="apptName"

                id="apptName" 

                type="text" 

                class="form-control">

        </div>
        <div class="form-group">
            <label for="apptType">Appointment Type</label>
            <input
            type="text"
            formControlName="apptType"
            id="apptType"
            class="form-control"
            >
        </div>
        <div class="form-group">
            <label for="patientID"> paitentID</label>
           <input type="text"
           formControlName="patientID"
           id="paitentID"
           class="form-control"
           >
        </div>
        <div class="form-group">
            <label for="apptDate"> Appointment Date
            </label>
            <input type="text"
            formControlName="apptDate"
            id="apptDate"
            class="form-control"
            >
        </div>
        <div class="form-group">
            <label for="summary">Appointment Summary</label>
            <input type="text"
            formControlName="summary"
            id="summary"
            class="form-control"
            >
        </div>
        <div class="form-group">
            <label for="confirmed">Confirmed</label>
            <input type="text"
            formControlName="confirmed"
            id="summary"
            class="form-control"
            >
        </div>
<!--/*id:number;
  apptName:string;
  apptType:string;
  paitentID:number;
  apptDate:Date;
  summary:string;
  confirmed:string;*/-->
  

        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>

    </form>


</div>