<!--[routerLink]="['edit', business._id]"-->
<!--  this.router.navigate(['/patientportal-details'], { queryParams: { patientportal: id } }); -->
<!-- [(ngModel)]="patient.password" -->
<h3> Patient Portal Summary Details </h3>
<div>
    <div>
        <label> <b> Appointment Type: </b> </label> <div>{{patientportal.appointmentType}}</div>
    </div>
    <div>
        <label> <b> Appointment Time: </b></label> <div>{{patientportal.appointmentTime}}</div>
    </div>
    <div>
        <label> <b> Summary: </b></label> <div>{{patientportal.summary}}</div>
    </div>
</div>
<router-outlet></router-outlet>
<!-- </a> -->
<!-- <div>
    <form (ngSubmit)="patientlogin()">
        <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Patient ID</label>
        <input type="text" class="form-control" id="patientId" name="patientId" [(ngModel)]="patient.patientId" placeholder="1234567">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Patient Password</label>
            <input type="password" class="form-control" [(ngModel)]="patient.password" id="password" name="password" placeholder="password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
    </form>
    
    </div>
<router-outlet></router-outlet> -->