<div class="container">

    <h1>View Post</h1>

  

    <a href="#" routerLink="/post/index" class="btn btn-primary">Back</a>

   

    <div>

        <strong>ID:</strong>

        <p>{{ post.id }}</p>

    </div>

   

    <div>

        <strong>Title:</strong>

        <p>{{ post.apptName }}</p>

    </div>

   

    <div>

        <strong>Date:</strong>

        <p>{{ post.apptDate }}</p>

    </div>
    <div>
        <strong>Appointment Type:</strong>
        <p>{{post.apptType}}</p>
    </div>
    <div>
        <strong>Assciated Patient:</strong>
        <p>{{post.paitentID}}</p>
    </div>
    <div>
        <strong>Confirmed:</strong>
        <p>{{post.confirmed}}</p>
    </div>
    <div>
        <strong>Appointment Summary:</strong>
        <p>{{post.summary}}</p>
    </div>


   

</div>